*{
    box-sizing: border-box
}

body {
    background: url("../images/background/wall4.png");
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    color: #777777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold;
}

header {
    background: white;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 30px;
}

header h1 {
    background: #4aaaa5;
    color: white;
    display: inline-block;
    padding: 30px;
    font-size: 30px;
}

nav {
    width: 300px;
    float: right;
    margin-top: 35px;
    text-align: center;
 
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #666666;
    font-size: 18px;
    padding: 5px 15px;
    border-right: 0.5px solid #dddddd;
}

nav ul li:last-child a {
    border-right: none;
    padding-right: none;
}

p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
    color: #777777;
}

footer {
    background: #666666;
    border-top: 7px solid #4aaaa5;
    color: #cccccc;
    text-align: center;
    padding: 40px;
    margin-top: 30px;
}

label {
    font-size: 18px;
    display:block;
}

form input {
    width: 100%;
    display: block;
    margin: 10px 0 25px 0;
    border: 2px solid #cccccc;
    padding: 15px;
    font-size: 18px;
}

textarea {
    height: 300px;
    width: 100%;
    display: block;
    margin: 10px 0 25px 0;
    border: 2px solid #cccccc;
    padding: 15px;
    font-size: 18px;
}

form button {
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 20px;
    border: 1px solid #cccccc;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.inline-img {
    float: left;
    height: 350px;
    width: 275x;
    margin: 0 15px 15px 0;
    border: 1px solid #777777;
}

.portfolio-item {
    position: relative;
    background-color:   rgba(0, 0, 0, 0.5);
    margin: 10px;
    width: 45%;
    height: 300px;
    width: 280px;
    float: left;
    border: 1px solid #cccccc;
}

.portfolio-item h4 {
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 20px;
    width: 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.clearfix {
    display: block;
    clear: both;
}

#left-column {
    background: white;
    padding: 25px;
    border: 2px solid #cccccc;
    width: 960px;
    float: left;
}

#left-column h2 {
    font-size: 24px;
    padding: 15px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #cccccc;
}


#photo1 {
    background: url('../images/bigben.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#photo2 {
    background: url('../images/columns.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
}

#photo3 {
    background: url('../images/madridsun.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#photo4 {
    background: url('../images/PortDover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#photo6 {
    background: url('../images/vaticantop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#photo7 {
    background: url('../images/workboots.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

#photo8 {
    background: url('../images/PeggysCove.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#photo9 {
    background: url('../images/Aquarium.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
