
* {
    box-sizing: border-box;
}

body {
    background: url("../images/background/wall4.png");
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    color: #777777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold;
}

header {
    background: #ffffff;
    border-bottom: 3px solid #cccccc;
    margin-bottom: 30px;
}

header h1 {
    background: #4aaaa5;
    color: white;
    display: inline-block;
    padding: 30px;
    font-size: 30px;
}

nav {
    width: 300px;
    float: right;
    margin-top: 37px;
    text-align: right;
}

nav ul li {
    float: right;
}

nav ul li a {
    color: #666666;
    font-size: 18px;
    padding: 5px 15px;
    border-left: 0.5px solid #dddddd;
}

nav ul li:last-child a {
    border-left: none;
    /*! padding-left: none; */
}

nav a:hover {
    background: #4aaaa5;
    color: #ffffff;
    transition-duration: .5s;
    transition-property: all;
    -moz-transition-timing-function: ease-in-out;
}

nav a:visted {
    color: maroon;
    text-decoration: wavy;
}

p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
    color: #777777;
}

footer {
    background: #666666;
    border-top: 7px solid #4aaaa5;
    color: #cccccc;
    text-align: center;
    padding: 40px;
    margin-top: 30px;
}

label {
    font-size: 16px;
    display:block;
}

form input {
    width: 100%;
    display: block;
    margin: 10px 0 25px 0;
    border: 2px solid #cccccc;
    padding: 15px;
    color: #666666;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    height: 300px;
    width: 100%;
    display: block;
    margin: 10px 0 25px 0;
    border: 2px solid #cccccc;
    padding: 15px;
    color: #666666;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

form button {
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 20px;
    border: 1px solid #cccccc;
    float: right;
}

.inline-img {
    float: left;
    height: 250px;
    width: 175x;
    margin: 0 15px 15px 0;
    border: 1px solid #777777;
}

.portfolio-item {
    position: relative;
    background-color: #777777;
    margin: 15px 10px;
    height: 300px;
    width: 270px;
    float: left;
    border: 1px solid #cccccc;
}

.portfolio-item h4 {
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 20px;
    width: 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.clearfix {
    display: block;
    clear: both;
}

#boxleft, #boxright {
    background: white;
    padding: 25px;
    border: 3px solid #cccccc;
}

#boxleft {
    width: 650px;
    float: left;
}

#boxright {
    width: 270px;
    float: right;
}

#boxleft h2 {
    font-size: 24px;
    padding: 15px 0;
    margin-bottom: 20px;
    border-bottom: 3px solid #cccccc;
}

#boxright h3 {
    font-size: 22px;
    padding: 15px 0;
    margin-bottom: 20px;
    border-bottom: 3px solid #cccccc;
}

#boxright ul {
    text-align: center;
}

#boxright ul li {
    display: inline-block;
}

#boxright ul li img {
    width: 60px;
}

#photo1 {
    background: url('../images/bigben.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#photo2 {
    background: url('../images/columns.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
}

#photo3 {
    background: url('../images/madridsun.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#photo4 {
    background: url('../images/PortDover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#photo6 {
    background: url('../images/vaticantop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#photo7 {
    background: url('../images/workboots.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

#photo8 {
    background: url('../images/PeggysCove.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#photo9 {
    background: url('../images/Aquarium.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*Media Queries*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 0px) and (max-device-width : 600px) {

    header {
        border: none;
    }
    
    .wrapper {
        background: url("../images/background/wall4.png");
        width: 100%;
    }

    header h1 {
        width: 100%;
        background: #4aaaa5;
        font-size: 35px;
        text-align: Center;
        border-bottom: 3px solid #cccccc;
        margin: none;
    }
    
    nav {
        width: 100%;
        float: none;
    }

    nav ul li {
        float: none;
        margin: 15px 0;
        background-color: #4aaaa5;
    }
    
    nav ul li a {
        text-align: center;
        display: inline-block;
        width: 100%;
        color: #ffffff;
        font-size: 20px;
        padding: 20px;
        border: 3px solid #cccccc;
    }
    
   nav ul li:last-child a {
        border: 3px solid #cccccc;
        } 
    
        
    nav a:hover {
        background: white;
        color: #666666;
        font-weight: bold;
        transition-duration: .5s;
        transition-property: all;
        transition-timing-function: ease-in-out;
        }

    nav a:visted {
        color: maroon;
        text-decoration: wavy;
    }


    .portfolio-item {
        position: relative;
        background-color: #777777;
        width: 97%;
        height: 400px;
        float: none;
        border: 1px solid #cccccc;
    }
    
    .inline-img {
        float: left;
        height: auto;
        width: 50%;
        margin: 0 0 0 15;
        border: 2px solid #777777;
    }
    
    #boxleft, #boxright {
        background: white;
        padding: 25px;
        margin-bottom: 30px;
        border: 3px solid #cccccc;
        width: 100%;
        float: none;
        display: inline-block;
        }
}

/* tablets (portrait and landscape) ----------- */
@media only screen and (min-device-width :601px) and (max-device-width : 960px) {
 
    nav {
        width: 100%;
    }
    
    nav ul li {
        float: none;
    }

    nav ul li a {
        float: left;
        text-align: center;
        background-color: #4aaaa5;
        width: 31%;
        padding: 20px;
        display: inline-block;
        color: #ffffff;
        font-size: 20px;
        border: solid #cccccc; 
        margin-bottom: 30px;
        margin-left: 8px;
    }
    
nav a:hover {
    background: #666666;
    font-weight: bold;
    transition-duration: .5s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

nav a:visted {
    color: maroon;
    text-decoration: wavy;
}

    
   nav ul li:last-child a {
        border: 3px solid #cccccc;
        } 
    
    .wrapper {
        width: 75%;
    }
   
    .portfolio-item {
        position: relative;
        background-color: #777777;
        width: 97%;
        height: 400px;
        float: none;
        border: 1px solid #cccccc;
    }
    
    .inline-img {
        float: left;
        height: auto;
        width: 40%;
        margin: 0 0 0 15;
        border: 2px solid #777777;
    }
    
    #boxleft, #boxright {
        background: white;
        padding: 25px;
        margin-bottom: 30px;
        width: 100%;
        border: 3px solid #cccccc;
        display: inline-block;
        }
    }
